:root {
  --container-max: 56rem;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

.container {
  width: min(100% - 3rem, var(--container-max, 60ch));
  margin-inline: auto;
}

.region {
  padding-top: 3rem;
  padding-bottom: 3.6rem;
}

.card {
  background-color: rgba(0, 0, 0, 0.1);
}